<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <header class="site-header">
        <div class="home-title-container">
          <h3 class="home-title">
            Please join Kathi and Maureen McHugh in celebrating the child of Jonna and Kevin on November 17th, 1PM at Peanut Park, Chicago, IL
          </h3>
        </div>
      </header>
      <div class="content-wrapper">
        <article class="article">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScvVyhB5gLBepWA7Efq65JbaXpSG9d7Ojf0mx5IN02xBGpT1w/viewform?usp=sf_link" target="_blank">
            <div class="featured-post" style="background-image:url({{ site.github.url }}/assets/img/rsvp.png)">
              <h2><span>RSVP ↗️</span></h2>
            </div>
          </a>
        </article>
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
