<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <header class="site-header">
      <img src="{{ site.github.url }}/assets/img/flier.png">
      <h3>
        Kathi and Maureen McHugh invite you to a shower to celebrate Jonna and Kevin's baby!<br/>
        Please join us at 1pm on November 17th at Peanut Park Trattoria.
      </h3>
      </header>
      <div class="content-wrapper">
        <article class="article">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScvVyhB5gLBepWA7Efq65JbaXpSG9d7Ojf0mx5IN02xBGpT1w/viewform?usp=sf_link" target="_blank">
            <div class="featured-post" style="background-image:url({{ site.github.url }}/assets/img/rsvp.png)">
              <h2><span>Please RSVP by October 20th↗️</span></h2>
            </div>
          </a>
        </article>
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
